@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
	font-family: 'Roboto', sans-serif;
}
html, body{
	height: 100%;
	width: 100%;
}
body{
	margin: 0;
}

header{
	height: 60px;
	justify-content: space-between;
	z-index: 100;
	-webkit-box-shadow: 0 1px 4px 1px #CCC;
	box-shadow: 0 1px 4px 1px #CCC;
}
header > #header-text{
	margin: 18px;
	font-size: 20px;	
}

content{
	z-index: 90;
}

#sidenav{
	width: 256px;
	-webkit-box-shadow: 1px 0 4px 1px #CCC;
	box-shadow: 1px 0 4px 1px #CCC;
	z-index: 80;
}
#sidenav > ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
#sidenav > ul > li{
	height: 50px;
	box-sizing: padding-box;
	transition: all .2s;
	outline: 
}
#sidenav > ul > li:hover{
	background: #EEE;
}
#sidenav > ul > li > a{
	display: block;
	padding: 14px;
	text-decoration: none;
	outline-style: none;
	text-transform: capitalize;
}

#main{
	scroll-behavior: smooth;
	overflow-y: auto;
}
#main > section{
	min-height: 100%;
	min-width: 100%;
}
#main > section h1.section-title{
	margin: 15px;
	text-transform: capitalize;
}
#main > section .section-content{
	margin: 0 15px;
}

section#section-home > #user-thumbnail{
	height: 160px;
	width: 160px;
	margin: auto auto 20px;
	border-radius: 50%;
}
section#section-home > #user-name{
	margin: 20px auto;
}
#user-name > #user-nickname{
	font-size: 16px;
	font-style: italic;
}

section#section-home > #user-title{
	margin: 20px auto auto;
}


.flexed-row{
	display: flex;
	flex-direction: row;
}
.flexed-column{
	display: flex;
	flex-direction: column;
}
.flexed-row.wrapper,
.flexed-column.wrapper{
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}
.flexed-row > .flex-grow,
.flexed-column > .flex-grow{
	flex: 1;
}
.centered{
	margin: auto;
}
.centered-row{
	margin: 0 auto;
}
.card{
	height: 280px;
	-webkit-box-shadow: 0 2px 2px 0px #CCC;
	box-shadow: 0 2px 2px 0px #CCC;

	transition: all .2s;
}
.card:hover{
	-webkit-box-shadow: 0 6px 8px 0px #CCC;
	box-shadow: 0 6px 8px 0px #CCC;
}
.card > .card-media{
	height: 180px;
	width: 320px;
}
.card > .card-title{
	padding: 16px;
}
.card > .card-title > .card-title-text{
	margin: 0;
}
.card > .card-title > .card-title-sub-text{
	margin: 8px 0 0;
}